@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This site is under contruction</p>

<p><a href="~/Teacher/TeacherInfo">Teachers</a></p>

<p> <a href="~/Student/Index">Students</a></p>

<p> <a href="~/Courses/Subject">Subjects</a></p>

<p> <a href="~/Courses/Index">Courses</a></p>


@*<p><a href="~/Student/ListOfCoursesNGrades">Average of grades</a></p>*@


<p> Thank you </p>



